.vertical, 
.horizontal { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;

  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(1, 126, 155, 0.2), 0px 4px 3px rgba(1, 126, 155, 0.1);
  border-radius: 2.5rem;

  color: #009CC1;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.horizontal {
  flex-direction: row;
  padding: 20px 30px;
}

.vertical {
  flex-direction: column;
  padding: 30px 21px;
}

.output {
  user-select: none;
}

.vertical .output {
  margin: 28px 0;
}

.horizontal .output {
  margin: 0 24px;
}
