.angleBtn__left, 
.angleBtn__right, 
.angleBtn__up, 
.angleBtn__down {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #009CC1;
}

.angleBtn__left, 
.angleBtn__right, 
.angleBtn__up, 
.angleBtn__down {
  fill: #009CC1;
}

.angleBtn__right {
  transform: rotate(180deg);
}

.angleBtn__up {
  transform: rotate(90deg);
}

.angleBtn__down {
  transform: rotate(270deg);
}

.angleBtn__right:active path,
.angleBtn__left:active path {
  fill-opacity: 1;
}

.angleBtn__left:disabled path, 
.angleBtn__right:disabled path, 
.angleBtn__up:disabled path, 
.angleBtn__down:disabled path {
  fill: #AAAAAA;
  fill-opacity: 0.5;
}