/*button[class*="angleBtn"]은 
angleBtn__left, angleBtn__right, angleBtn__up, angleBtn__down 을 포함한다.*/

button[class*="angleBtn"] {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #009CC1;
}

button[class*="angleBtn"]:active:not(:disabled) path{
  fill-opacity: 1;
}

button[class*="angleBtn"]:disabled {
  cursor: not-allowed;
}

button[class*="angleBtn"]:disabled path {
  fill: #AAAAAA;
}

.angleBtn__right {
  transform: rotate(180deg);
}

.angleBtn__up {
  transform: rotate(90deg);
}

.angleBtn__down {
  transform: rotate(270deg);
}