.stepper__vertical, .stepper__horizontal { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 200px;

  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(1, 126, 155, 0.2), 0px 4px 3px rgba(1, 126, 155, 0.1);
  border-radius: 40px;

  color: #009CC1;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
};

.stepper__vertial {
  flex-direction: row;
}

.stepper__horizontal {
  flex-direction: column;
  min-height: 200px;
  width: 90px;
}

.stepper .output {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
  line-height: 1;
};
